body{
    margin:0;
    background: #83a879;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
background: linear-gradient(90deg, rgba(131, 168, 121, 1) 0%, rgba(87, 199, 133, 1) 30%, rgba(204, 240, 43, 1) 58%, rgba(184, 169, 39, 1) 93%);
}
.container{
    padding:25px 40px;
    border: 2px solid black;
    border-radius: 15px;
    display:flex;
    flex-wrap: wrap;
    width:300px;
    background: #83a879;
background: linear-gradient(90deg, rgba(131, 168, 121, 1) 0%, rgba(87, 199, 133, 1) 0%, rgba(204, 240, 43, 1) 0%, rgba(250, 245, 245, 0.29) 0%);
}
h1{
    font-size: 30px;
    text-align: center;
    
}
input{
    width:200px;
    font-size: 14px;
    height: 20px;
}
button{
    font-size: 14px;
    height: 28px;
    margin:0px 5px;
}
p{
    border: 3px solid black;
    border-radius: 10px;;
    font-size: 20px;
    padding:5px 20px

}